<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ISO27001Tools.LocalAdminScanning.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ISO27001Tools.LocalAdminScanning.Properties.Settings.SqlString"
            connectionString="Data Source=localhost;Initial Catalog=Iso27001;User ID=sa;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <ISO27001Tools.LocalAdminScanning.Properties.Settings>
            <setting name="DhcpServer" serializeAs="String">
                <value>10.1.0.254</value>
            </setting>
        </ISO27001Tools.LocalAdminScanning.Properties.Settings>
    </userSettings>
</configuration>